.modal {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 500px;
  margin: auto;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

/* Input Field */
.modal-body input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 0.5rem;
  font-size: 1rem;
}
.submit-btn {
  background: #5c6ef8;
  color: #ffffff;
  font-family: "Arimo";
  font-weight: 700;
  text-align: left;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 12px;
  margin-top: 1rem;
  width: 100%;
}
.required {
  color: red;
}
