.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.modal-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.btn.cancel {
  background-color: #ccc;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

.btn.delete {
  background-color: #e53935;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}
